// bg colors

$primary: #ffff;
$secondary: #d3d3d3;
$background: #123234;
$menu_primary: #fefefe;

// txt color

$primary_menu: #3a3a3a;

// Fonts

$PrimaryFamily: 'Kanit', sans-serif;
$SecondaryFamily: '';

// Size

$title: 70px;
$heading: 30px;
$small_header: 25px;
$smallest_header: 18px;
$paragraph: 16px;
